*, h1, h5, h6 {
    font-family: Georgia;
    color: black;
}

table, th, td {
    border: 1px black solid;

}

th, td {
    padding: 5%;
    width: 200px;
}

th {
	background-color: gray;
	color: white;
}

tr:hover {
    background-color: lightgray;
    }